*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}
.container{
    margin-top: 100px;

}
.container h2{
    background-color: rgb(182, 152, 116);
    text-align: center;
}
form{
    background-color: bisque;
    padding: 20px;
}
form input{
    margin-left: 5px;
}
#ket_qua{
    display: none;
    background-color: bisque;
    margin-top:10px ;
    padding: 40px;
}

button{
    cursor: pointer;
    background-color: bisque;
    outline: none;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    transition: background-color 1s ease-in-out;
}
button:hover{
    padding: 4px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.active{
    display: block !important;
}
.ket_qua{
    text-align: left;
}